
body{
    background-image: url(images/pattern-background-desktop.svg) ;
    /*background position*/
    background-repeat: no-repeat;
    background-size:100%  ;
    font-size: 16px;
    font-family:red;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.main-div{

margin-top:70px;
background-color: hsl(240, 12%, 97%);
text-align: center;
border-radius: 20px;
width:50%;
position: relative;
left:25%;
height:auto;

}

.inner-div{
    background-color:hsl(215, 67%, 96%);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:20px;
    height:100px;
}

.change-div{
    -ms-transform: translateY(50%);
    transform: translateY(30%);
}

.top-img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width:100%;
    height:250px;
    object-fit:cover;
}
.music-img{
    margin-top:30px;
    margin-right:15px;
    margin-left:20px;
    
    
}
.plan{
    margin-top:25px;
    margin-right: 7px;
    margin-left: 8px;
    
}

.link{
    margin: 40px;
   
}

p{
    color:hsl(224, 23%, 55%)
}

.button {
    padding: 20px 26px;
    border: 0 none;
    font-weight: 500;
    letter-spacing: 1px;
    
}

.button-pay{
    margin-top:40px;
    width:75% auto;
    font-weight: 900;  
}

.button-primary{
    color:white;
    background-color: hsl(245, 75%, 52%);
    border-radius: 10px;
    font-size:16px;
    margin-bottom: 15px;
     
  }

  .button:focus, .button:active:focus, .button.active:focus {
    outline: 0 none;
}

.button-light {
    background: transparent;
    color:hsl(224, 23%, 55%);
    margin-top:10px;
    margin-bottom: 20px;
}
.button-light:hover{
color:black;
}
.button-primary:hover, .button-primary:focus, .button-primary:active, .button-primary.active, .open > .dropdown-toggle.btn-primary {
    background:hsl(224, 23%, 55%);
}

.button-primary:active, .button-primary.active {
    background: #007299;
    box-shadow: none;
}
.margin-top{
    margin-top:60px;

}
.margin-t1{
    margin-top:0px;

}
.box-s{
    box-shadow: 2px 15px 29px #c9c6c6;
   
}