
body{
    
    background-image:url(images/pattern-background-desktop.svg); 
    /*background position*/
   background-size: 110% 70%;
    background-repeat:no-repeat;
    font-size: 16px;
    font-family:'Red Hat Display', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.main-div{


background-color: hsl(0, 0%, 100%);
text-align: center;
width:37%;/* makes the div box shorter*/
height:820px;
border-radius: 30px;
position:relative;
top:180px;
box-shadow:2px 2px 30px #cccbcb;
font-size: 16px;

}

.box {
    
    display: flex;
    justify-content:center;
}

.inner-div{
    background-color:hsl(215, 67%, 96%);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:80%;
    height: 120px ;
    margin-left: 10%;
    margin-top:30px;
   
}

.top-img{
    
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width:100%;
    height:270px;
    margin-bottom: 10px;

    
}
.margin-top{
    margin-top:40px;
    font-size: 32px;
    margin-bottom: 10px;;

}
p{
    color:hsl(224, 23%, 55%);
    font-size:16px;
}
.p-margin{
    margin-top: 20px;
}

.music-img{
    height:55px;
    width:55px;
    position:relative;
    top:35px;
    right:36px;
    
}
.plan{
    margin-top:35px;
    margin-right: 7px;
    margin-left: 3px;
    position: relative;
    right:30px;
    
}

.link{
    margin: 39px;
    color:hsl(245, 75%, 52%);
    position: relative;
    left:70px;
    top:10px;
    font-size:16px;
   
}


.p2{
    font-size: 16px;
    color:black;
    width: 100px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    position: relative;
    left:5px;
    
    
}
.p1{
    font-size: 16px;
    position: relative;
    bottom:15px;
}
.button {
    padding: 20px 26px;
    border: 0 none;
    font-weight: 500;
    letter-spacing: 1px;
    
}

.button-pay{
    margin-top:40px;
    width:75%;
    font-weight: 900;  
}

.button-primary{
    color:white;
    background-color: hsl(245, 75%, 52%);
    border-radius: 10px;
    font-size:16px;
    margin-bottom: 15px;
    
    
  }
  

.button:focus, .button:active:focus, .button.active:focus {
    outline: 0 none;
}

.button-light {
    background: transparent;
    color:hsl(224, 23%, 55%);
    margin-top:10px;
    margin-bottom: 20px;
}
.button-light:hover{
color:black;
}
.button-primary:hover, .button-primary:focus, .button-primary:active, .button-primary.active, .open > .dropdown-toggle.btn-primary {
    background:hsl(224, 23%, 55%);
}

.button-primary:active, .button-primary.active {
    background: #007299;
    box-shadow: none;
}

.text-s{
    box-shadow: 2px 15px 29px #c9c6c6;
   
}
