body{
    background-image: url(images/pattern-background-desktop.svg) ;
    background-position: ;/**/
    font-size: 16px;
    font-family:red;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.main-div{


background-color: hsl(225, 100%, 98%);
text-align: center;
width:40%;/* makes the div box shorter*/
border-radius: 20px;



}

.top-img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width:100%;
    height:100%;
    object-fit:cover;
}